/*main.css*/

body{
	background:lightblue;
border-style: groove;
text-shadow: black;
font-style: bold;
}

h1{
	color: black;
	text-shadow: black;
	text-align: center;
	font-family: bungee outline;
}

h3{text-align: center;
font-family: bungee outline;
}

#img-float {
	float: left;
	margin: 20px;
	height: 500px
}

.p-class {
	margin: 35px;
	padding: 25px;
}

#div-float {
	overflow: auto;
	border:solid 5px green;
	background: purple;
	margin: 20px;
}
ol{
	font-weight: bold;
}

a{
	color: black;
}

#index{
	border-style: groove;
}
.name{text-align: center

 {color:black;
}
